@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;600&display=swap');

html, body {
	background: transparent;
}

body {
  	color: #ffffff;
  	height: 100vh;
  	background: #141414;
  	font-family: sans-serif;
  	overflow-y: hidden;
  	display: flex;
  	justify-content: center;
  	align-items: center;
}

button {
  	background-color: white;
  	padding: 10px 20px;
  	border-radius: 10px;
  	border: none;
  	appearance: none;
  	font-size: 1.3rem;
  	transition: transform ease-in 0.1s;
  	cursor: pointer;
}

button:hover {
  	transform: scale(1.05);
}

li {
  	list-style: none;
}

a {
  	text-decoration: none;
  	height: fit-content;
  	width: fit-content;
 	margin: 10px;
}

a:hover {
  	opacity: 1;
  	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
	font-family: 'Karla', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#root {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

#content-wrapper {
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
}

.electron-drag {
	-webkit-app-region: drag;
}

/* Titlebar */
#electron-titlebar {
	position: fixed !important;
	top: 0;
	width: 100%;
	background: rgba(255, 255, 255, .0125);
}